In [1]:
import pandas as pd

In [3]:
pokemon  = pd.read_csv("base de datos\Pokemon.csv")
pokemon.head(5)

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\dg_su\AppData\Local\Temp\ipykernel_12016\1368291069.py:1: SyntaxWarning: invalid escape sequence '\P'
  pokemon  = pd.read_csv("base de datos\Pokemon.csv")

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
pokemon.shape

(800, 12)

In [7]:
pokemon1 = pokemon[pokemon["Generation"] ==  1]
pokemon1.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [9]:
pokemon = pokemon[["Type 1", "Type 2", "Speed"]]
pokemon = pokemon.dropna()
pokemon.shape

(78, 3)